<div th:replace="fragments/header-with-sidebar"></div>


<div class="container">
    <h3>Add Author</h3>
     
    <form method="post"
          role="form"
          th:action="@{/manager/author-save}"
          th:object="${author}">

      <input
          name="id"
          th:field="*{id}"
          type="hidden"
      />

      <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input
          class="form-control"
          id="fullName"
          name="fullName"
          placeholder="Enter full name"
          th:field="*{fullName}"
          type="text"
        />
        <p th:errors = "*{fullName}" class="text-danger"
              th:if="${#fields.hasErrors('fullName')}"></p>
        
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
                class="form-control"
                id="description"
                name="description"
                placeholder="Enter description"
                th:field="*{description}"
                type="text"
        ></textarea>
        <div th:errors = "*{description}" class="text-danger"
           th:if="${#fields.hasErrors('description')}"></div>
      </div>

      <div class="mb-3">
        <label class="form-label">Life dates</label>
        <div class="row">
          <div class="col-5">
            <input
              class="form-control"
              id="birthDate"
              name="birthDate"
              placeholder="Enter birth date"
              th:field="*{birthDate}"
              type="date"
            />
            <p th:errors = "*{birthDate}" class="text-danger"
            th:if="${#fields.hasErrors('birthDate')}"></p>
          </div>
          <div class="col-2 text-center"> - </div>
          <div class="col-5">
            <input
              class="form-control"
              id="dieDate"
              name="dieDate"
              placeholder="Enter die date"
              th:field="*{dieDate}"
              type="date"
            />
            <p th:errors = "*{dieDate}" class="text-danger"
            th:if="${#fields.hasErrors('dieDate')}"></p>
          </div>
        </div>
      </div>



      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
</div>


<div th:replace="fragments/footer"></div>

