<div th:replace="fragments/header"></div>


<div class="container">
    <h3>Exhibits: <a th:href="@{'/admin/exhibit-add'}" class="btn btn-outline-success">Add</a></h3>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="exhibit: ${exhibits}">
                <td scope="row" th:text="${exhibit.id}" />
                <td th:text="${exhibit.name}" />
                <td>
                    <a href="" class="btn btn-outline-primary">View</a>
                    <a th:href="@{/admin/exhibit-edit(id=${exhibit.id})}" class="btn btn-outline-warning">Edit</a>
                    <a th:href="@{/admin/exhibit-delete(id=${exhibit.id})}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
      </table>
</div>

<div th:replace="fragments/footer"></div>
