<div th:replace="fragments/header-with-sidebar"></div>


<div class="container">
    <h3>Change password</h3>

    <div th:if="${param.success}">
        <div class="alert alert-success"> You succesfully change password! </div>
    </div>
    <form method="post" role="form" th:action="@{/client/change-password-save}" th:object="${model}">


        <div class="form-group mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" name="oldPassword" placeholder="Enter old password" 
                th:field="*{oldPassword}" type="password" />
            <p th:errors="*{oldPassword}" class="text-danger" th:if="${#fields.hasErrors('oldPassword')}"></p>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">New password</label>
            <input class="form-control" name="newPassword" placeholder="Enter new password" 
                th:field="*{newPassword}" type="password" />
            <p th:errors="*{newPassword}" class="text-danger" th:if="${#fields.hasErrors('newPassword')}"></p>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Confirm new password</label>
            <input class="form-control" name="newPasswordRepeat" placeholder="Confirm new password" 
                th:field="*{newPasswordRepeat}" type="password" />
            <p th:errors="*{newPasswordRepeat}" class="text-danger" th:if="${#fields.hasErrors('newPasswordRepeat')}"></p>
        </div>


        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>


<div th:replace="fragments/footer"></div>