<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/select2/4.0.13/css/select2.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Web museum</title>
  </head>
  <body>
    <header class="p-3 text-bg-dark mb-5">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a th:href="@{/main}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/main/event-list}" class="nav-link px-2 text-white">Events</a></li>
          </ul>
  
  
          <div class="text-end">
            <div sec:authorize="!isAuthenticated()">
              <a th:href="@{/auth/login}" class="btn btn-outline-light me-2">Login</a>
              <a th:href="@{/auth/register}" class="btn btn-warning">Sign-up</a>
            </div>
            <div sec:authorize="isAuthenticated()">
              <a th:href="@{/main/main}" class="btn btn-primary">User panel</a>
              <a th:href="@{/auth/logout}" class="btn btn-warning">Logout</a>
            </div>
            
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row" sec:authorize="isAuthenticated()">
        <div class="col-3">
          <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <div sec:authorize="hasRole('ROLE_MANAGER')">
                <li><a th:href="@{/manager/exhibit-list}" class="nav-link text-white">Exhibits</a></li>
                <li><a th:href="@{/manager/category-exhibit-list}" class="nav-link text-white">Exhibit categories</a></li>
                <li><a th:href="@{/manager/author-list}" class="nav-link text-white">Authors</a></li>
                
                <li><a th:href="@{/manager/event-list}" class="nav-link text-white">Events</a></li>
                <li><a th:href="@{/manager/category-event-list}" class="nav-link text-white">Event categories</a></li>
                </li>
              </div>
              <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li><a th:href="@{/admin/user-list}" class="nav-link text-white">Users</a></li>
              </div>
              <div sec:authorize="hasRole('ROLE_CLIENT')">
                <li><a th:href="@{/client/subscribed-events-list}" class="nav-link text-white">Subscribed events</a></li>
                <li><a th:href="@{/client/subscribed-category-list}" class="nav-link text-white">Subscribed event categories</a></li>
                <li><a th:href="@{/client/user-info}" class="nav-link text-white">User information</a></li>
              </div>
            </ul>
          </div>
        </div>
        <div class="col-9">


    

    